<ul>
    <li class="cattle-ranch">
        <div class="good luxury-food">
            <label for="fdf-cattle-ranch">Cattle Ranch</label>
            <input type="number" name="fdf-cattle-ranch" id="fdf-cattle-ranch" readonly="readonly" value="{{result.cattleRanch}}"/>
        </div>

        {{> soy-farm }}
    </li>
</ul>