<ul>
    <li>
        <label for="fdf-cattle-ranch">Cattle Ranch</label>
        <input type="number" name="fdf-cattle-ranch" id="fdf-cattle-ranch" readonly="readonly" value="{{result.cattleRanch}}"/>
        
        {{> soy-farm }}
    </li>
</ul>