<ul>
    <li>
        <label for="food-design-factory">Food Design Factory</label>
        <input type="number" name="food_design_factory" id="food-design-factory" value="{{result.foodDesignFactory}}" placeholder="0" />

        {{> cattle-ranch }}
        
        {{> vineyard }}
    </li>
</ul>