<form method="post" action="/calculate">
    
    <h2>Enter the number of end-production factories you have</h2>
    
    
    {{> food-design-factory }}


    <button type="submit">Calculate</button>
    
    {{> total-production-cost }}
</form>