<h1>Anno 2205 Production Calculator</h1>

<form method="post" action="/calculate">
    
    {{> food-design-factory }}


    <button type="submit">Calculate</button>
    
    {{> total-production-cost }}
</form>