<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Anno 2205 Production Calculator</title>
        <meta charset="utf-8" />
    </head>
    
    <body>
        <h1>Anno 2205 Production Calculator</h1>
    </body>
</html>